* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  display: grid;
  grid-auto-rows: auto;
}
.navBar {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 15px 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  z-index: 10;
}
.navBar .containerLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: auto;
}
.navBar .containerLinks .homeLink,
.navBar .containerLinks .projectsLink,
.navBar .containerLinks .contactLink {
  text-decoration: none;
  color: #fff;
  font-family: 'Major Mono Display', monospace;
  font-weight: 700;
  transition: all 1.5s ease-in-out;
}
.navBar .containerLinks .homeLink:hover {
  transform: translateY(-10px);
  text-shadow: 1px 1px 5px #fff;
}
.navBar .containerLinks .projectsLink:hover {
  transform: translateX(-10px);
  text-shadow: 1px 1px 5px #fff;
}
.navBar .containerLinks .contactLink:hover {
  transform: translateY(10px);
  text-shadow: 1px 1px 5px #fff;
}
.containerInfo {
  width: 50%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: relative;
}
.containerInfo .name {
  color: #fff;
  font-family: 'Megrim', cursive;
  font-variant: small-caps;
  font-size: 50px;
  transition: all 3s ease-in-out;
  opacity: 0%;
}
.containerInfo .profession {
  color: #fff;
  font-family: 'Iceberg', cursive;
  transition: all 3s ease-in-out;
  opacity: 0%;
}
.containerInfo .about {
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  transition: all 3s ease-in-out;
  opacity: 0%;
}
.containerInfo .pieces {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.containerInfo .pieces .square1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(-60px, -70px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square1 .code {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(60px, 70px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square2 .microchip {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(-90px, 100px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square3 .brain {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(120px, -70px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square4 .eyes {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(-60px, -60px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square5 .music {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(-20px, 100px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square6 .smile {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(-40px, 50px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square7 .laptop {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(-100px, -150px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square8 .people {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(123px, 44px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square9 .bugs {
  font-size: 30px;
  color: #fff;
}
.assemble {
  position: absolute;
  width: 200px;
  top: 10px;
  left: 44%;
  transition: all 2s ease-out;
}
.assemble .btnAssemble {
  width: 200px;
  height: 50px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}
.assemble .btnAssemble:hover {
  border-radius: 20px;
  box-shadow: 1px 1px 6px #fff;
}
.continueArrow {
  cursor: pointer;
  margin: 30px auto;
}
.continueArrow .icon {
  width: 40px;
  height: 40px;
  animation-name: pulse;
  animation-timing-function: linear;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #fff;
}
@keyframes pulse {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
    filter: drop-shadow(0px 0px 6px #fff);
  }
}
.followMouse {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
  z-index: -100;
}
.contact {
  width: 70%;
  margin: 0px auto;
  margin-top: 50px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.contact .contact_legend {
  color: #fff;
  font-size: 30px;
  padding: 0px 10px;
  font-family: 'Share Tech Mono', monospace;
}
.contact .formStyle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.contact .formStyle .formStyle_title {
  color: #fff;
  font-size: 25px;
  font-family: 'Share Tech Mono', monospace;
}
.contact .formStyle .formStyle_personalInfo,
.contact .formStyle .formStyle_email,
.contact .formStyle .formStyle_phone {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  color: #fff;
}
.contact .formStyle .formStyle_personalInfo .personalInfo_label,
.contact .formStyle .formStyle_email .personalInfo_label,
.contact .formStyle .formStyle_phone .personalInfo_label,
.contact .formStyle .formStyle_personalInfo .personalInfo_labelEmail,
.contact .formStyle .formStyle_email .personalInfo_labelEmail,
.contact .formStyle .formStyle_phone .personalInfo_labelEmail,
.contact .formStyle .formStyle_personalInfo .personalInfo_labelPhone,
.contact .formStyle .formStyle_email .personalInfo_labelPhone,
.contact .formStyle .formStyle_phone .personalInfo_labelPhone {
  font-family: 'Iceberg', cursive;
  font-size: larger;
}
.contact .formStyle .formStyle_personalInfo .personalInfo_myName,
.contact .formStyle .formStyle_email .personalInfo_myName,
.contact .formStyle .formStyle_phone .personalInfo_myName,
.contact .formStyle .formStyle_personalInfo .personalInfo_myEmail,
.contact .formStyle .formStyle_email .personalInfo_myEmail,
.contact .formStyle .formStyle_phone .personalInfo_myEmail,
.contact .formStyle .formStyle_personalInfo .personalInfo_myPhone,
.contact .formStyle .formStyle_email .personalInfo_myPhone,
.contact .formStyle .formStyle_phone .personalInfo_myPhone {
  padding: 5px;
  border-radius: 10px;
  border: none;
}
.contact .formStyle .formStyle_personalInfo .personalInfo_yourMessage,
.contact .formStyle .formStyle_email .personalInfo_yourMessage,
.contact .formStyle .formStyle_phone .personalInfo_yourMessage {
  border-radius: 10px;
}
.contact .formStyle .sendBtn {
  margin: 20px 0px 20px 0px;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 500;
}
