* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
  display: grid;
  grid-auto-rows: auto;
}
.navBar {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 15px 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  z-index: 10;
}
.navBar .containerLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: auto;
}
.navBar .containerLinks .homeLink,
.navBar .containerLinks .projectsLink,
.navBar .containerLinks .contactLink {
  text-decoration: none;
  color: #fff;
  font-family: 'Major Mono Display', monospace;
  font-weight: 700;
  transition: all 1.5s ease-in-out;
}
.navBar .containerLinks .homeLink:hover {
  transform: translateY(-10px);
  text-shadow: 1px 1px 5px #fff;
}
.navBar .containerLinks .projectsLink:hover {
  transform: translateX(-10px);
  text-shadow: 1px 1px 5px #fff;
}
.navBar .containerLinks .contactLink:hover {
  transform: translateY(10px);
  text-shadow: 1px 1px 5px #fff;
}
.containerInfo {
  width: 50%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: relative;
}
.containerInfo .name {
  color: #fff;
  font-family: 'Megrim', cursive;
  font-variant: small-caps;
  font-size: 50px;
  transition: all 3s ease-in-out;
  opacity: 0%;
}
.containerInfo .profession {
  color: #fff;
  font-family: 'Iceberg', cursive;
  transition: all 3s ease-in-out;
  opacity: 0%;
}
.containerInfo .about {
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  transition: all 3s ease-in-out;
  opacity: 0%;
}
.containerInfo .pieces {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.containerInfo .pieces .square1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(-60px, -70px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square1 .code {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(60px, 70px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square2 .microchip {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(-90px, 100px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square3 .brain {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(120px, -70px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square4 .eyes {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(-60px, -60px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square5 .music {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(-20px, 100px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square6 .smile {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(-40px, 50px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square7 .laptop {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(-100px, -150px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square8 .people {
  font-size: 30px;
  color: #fff;
}
.containerInfo .pieces .square9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  border: 1px solid #fff;
  transform: translate(123px, 44px);
  transition: all 2s ease-in-out;
}
.containerInfo .pieces .square9 .bugs {
  font-size: 30px;
  color: #fff;
}
.assemble {
  position: absolute;
  width: 200px;
  top: 10px;
  left: 44%;
  transition: all 2s ease-out;
}
.assemble .btnAssemble {
  width: 200px;
  height: 50px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}
.assemble .btnAssemble:hover {
  border-radius: 20px;
  box-shadow: 1px 1px 6px #fff;
}
.continueArrow {
  cursor: pointer;
  margin: 30px auto;
}
.continueArrow .icon {
  width: 40px;
  height: 40px;
  animation-name: pulse;
  animation-timing-function: linear;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #fff;
}
@keyframes pulse {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
    filter: drop-shadow(0px 0px 6px #fff);
  }
}
.followMouse {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
  z-index: -100;
}
.skils {
  width: 50%;
  margin: 20px auto;
}
.skils .infoTitle {
  color: #fff;
  font-family: 'Iceberg', cursive;
  text-align: center;
}
.infoStory {
  width: 540px;
  margin: 10px auto;
}
.infoStory .firstStory {
  position: relative;
  height: 200px;
}
.infoStory .firstStory .infoMore {
  padding-top: 10px;
  padding-bottom: 10px;
}
.infoStory .firstStory .infoMore .titleEducation {
  color: #fff;
  font-family: 'Iceberg', cursive;
  text-align: center;
  background-image: linear-gradient(90deg, #008000, #ffff00);
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation-name: title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: 200%;
}
.infoStory .firstStory .infoMore .titleStrengths {
  color: #fff;
  font-family: 'Iceberg', cursive;
  text-align: center;
  background-image: linear-gradient(90deg, #0763a1, #D50606);
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation-name: title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: 200%;
}
.infoStory .firstStory .infoMore .titleSkills {
  color: #fff;
  font-family: 'Iceberg', cursive;
  text-align: center;
  background-image: linear-gradient(90deg, #FFF305, #01B0E3);
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation-name: title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: 200%;
}
.infoStory .firstStory .infoMore .descriptionEducation {
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 15px;
  text-align: center;
  display: block;
}
.infoStory .firstStory .infoMore .descriptionStrengths {
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 15px;
  text-align: center;
  display: block;
}
.infoStory .firstStory .infoMore .descriptionSkills {
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  margin-top: 15px;
  text-align: center;
  display: block;
}
.infoStory .firstStory .containerImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.infoStory .firstStory .containerImg .educationImage {
  width: 270px;
  height: 200px;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}
.infoStory .firstStory .containerImg .educationImage1 {
  width: 270px;
  height: 200px;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}
.infoStory .firstStory .containerImg:hover .educationImage {
  transform: translateX(-260px) rotateY(30deg);
  border-radius: 20px;
}
.infoStory .firstStory .containerImg:hover .educationImage1 {
  transform: translateX(260px) rotateY(-30deg);
  border-radius: 20px;
}
@keyframes title {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
